@import '/vendor/filament/filament/resources/css/theme.css';

.fi-layout {
    @apply bg-gray-50 dark:bg-gray-900;
}

.fi-topbar nav, .fi-sidebar-header {
    @apply bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-700;
}

.fi-btn-color-primary {
    @apply bg-blue-600 hover:bg-blue-700 text-white;
}

.fi-ta-ctn {
    @apply bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-none;
}

.fi-ta-table {
    @apply divide-y divide-gray-200 dark:divide-gray-700;
}

.fi-ta-table thead tr {
    @apply bg-gray-100 dark:bg-gray-800 text-gray-700 dark:text-gray-200;
}

.fi-sidebar-item-label, .fi-topbar-item-label {
    @apply text-gray-700 dark:text-gray-300;
}

.fi-sidebar-item-active a svg,
.fi-topbar-item-active a svg {
    @apply text-blue-700 dark:text-blue-400;
}

.fi-sidebar-item-active a span,
.fi-topbar-item-active a span {
    @apply text-blue-700 dark:text-blue-300 font-medium;
}

.fi-sidebar-item .fi-sidebar-item-button,
.fi-topbar-item .fi-topbar-item-button {
    @apply hover:bg-gray-100 dark:hover:bg-gray-700;
}

.fi-sidebar-item-active .fi-sidebar-item-button,
.fi-topbar-item-active .fi-topbar-item-button {
    @apply bg-blue-50 dark:bg-blue-900;
}

.fi-fo-field-wrp-label span,
.fi-breadcrumbs-item-label {
    @apply text-gray-700 dark:text-gray-300;
}

.fi-header-heading, .fi-ta-header-cell-label, .fi-btn-color-gray span {
    @apply text-gray-800 dark:text-gray-100;
}

.fi-body {
    @apply bg-gray-50 dark:bg-gray-900;
}

.fi-input-wrp {
    @apply ring-1 ring-gray-300 dark:ring-gray-600 rounded-none;
}

.fi-fo-toggle span.inline-block,
.fi-fo-toggle,
.fi-checkbox-input,
.fi-tabs,
.fi-tabs-item,
.fi-tabs-item-active,
.fi-tabs-item-active span,
.fi-section,
.fi-wi-stats-overview-stat,
.fi-tenant-menu,
.fi-dropdown-panel,
.fi-topbar-item-active a,
.fi-topbar-item-active button,
.fi-tenant-menu-trigger,
.fi-theme-switcher-btn,
.fi-btn,
.fi-btn-badge-ctn,
.fi-dropdown-list-item,
.fi-fieldset,
.fi-icon-btn,
.fi-icon-btn-badge-ctn,
.fi-link-badge-ctn,
.fi-ta-color-item,
.fi-ta-content-grid .fi-ta-record,
.fi-wi-stats-overview-stat-chart,
.fi-fo-repeater-item,
.fi-fo-date-time-picker-panel,
.fi-fo-color-picker-panel,
.fi-fo-wizard-header,
.fi-fo-builder-item,
.fi-fo-builder-item-header,
.fi-fo-builder-block-picker-ctn,
.fi-fo-repeater-item-header,
.fi-fo-repeater-add-between-action-ctn,
.fi-fo-rich-editor trix-toolbar .trix-dialog,
.choices__item--choice.choices__item--selectable,
.choices__list--dropdown,
.choices__list[aria-expanded],
.fi-in-color-item,
.fi-in-repeatable.fi-contained .fi-in-repeatable-item,
.fi-no-notification:not(.fi-inline),
.fi-global-search-results-ctn,
.fi-pagination-items,
.fi-fo-repeater-item,
.fi-simple-main,
.fi-sidebar-item-btn,
.fi-fo-table-repeater,
.fi-absolute-positioning-context,
.fi-fo-field-content-col,
.fi-fo-toggle-buttons,
.fi-sc-wizard-header,
.fi-fo-file-upload-input-ctn .filepond--root,
.fi-sc-wizard-header-step,
.fi-modal:not(.fi-width-screen) .fi-modal-window:not(.fi-modal-slide-over-window),
.fi-modal:not(.fi-width-screen) .fi-modal-window:not(.fi-modal-slide-over-window) .fi-modal-header.fi-sticky,
.fi-modal:not(.fi-width-screen) .fi-modal-window:not(.fi-modal-slide-over-window) .fi-modal-footer.fi-sticky {
    @apply rounded-none;
}

.fi-toggle.fi-toggle-on>:first-child {
    @apply rounded-none;
}

.fi-toggle.fi-toggle-off>:first-child {
    @apply rounded-none;
}

.fi-sidebar-nav {
    scrollbar-gutter: auto;
}


:focus-visible.fi-btn {
    @apply outline outline-4 outline-offset-0 outline-primary-500/30 ring-0 dark:outline-primary-400/40;
}

:focus-visible.fi-icon-btn {
    @apply outline outline-4 outline-offset-0 outline-primary-500/30 ring-0 dark:outline-primary-400/40;
}

:focus-within.fi-input-wrp {
    @apply outline outline-4 ring-1 outline-primary-500/30 dark:outline-primary-400/40;
}

.fi-input-wrp:not(.fi-invalid) {
    @apply ring-gray-200 dark:ring-gray-700;
}
.fi-input-wrp.fi-disabled {
    @apply dark:ring-gray-800;
}
.fi-input-wrp.fi-invalid {
    @apply ring-danger-600 dark:ring-danger-400;
}
:focus-within.fi-input-wrp.fi-invalid {
    @apply outline-primary-500/30 dark:outline-primary-400/40;
}

.fi-global-search-field .fi-input-wrp,
.fi-ta-search-field .fi-input-wrp {
    @apply bg-white dark:bg-gray-800 ring-1 ring-gray-300 dark:ring-gray-600;
}

.fi-global-search-field .fi-input-wrp .fi-input-wrp-prefix {
    @apply bg-gray-100 dark:bg-gray-700 ps-2 mr-2;
}

.choices__list--multiple .choices__item {
    @apply rounded-none bg-primary-100 text-primary-700 ring-0 dark:bg-primary-400/20 dark:text-primary-300;
}

.fi-badge {
    @apply bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-100 rounded-none;
}

.fi-fo-field-wrp-helper-text {
    @apply text-gray-500 dark:text-gray-400;
}

.fi-sidebar-item-button .fi-badge,
.fi-topbar-item-button .fi-badge {
    @apply bg-blue-200 dark:bg-blue-400 text-blue-900 dark:text-blue-900;
}

.fi-input {
    @apply disabled:bg-gray-100 dark:disabled:bg-gray-700 text-gray-800 dark:text-gray-100;
}

.fi-btn.fi-color-primary .fi-btn-label {
    @apply text-white;
}

.fi-sidebar-nav {
    @apply gap-y-1 px-2 pt-2 pb-2 lg:border-r lg:border-t lg:border-gray-200 lg:dark:border-gray-800 bg-gray-50 dark:bg-gray-950;
}

.fi-sidebar-nav-tenant-menu-ctn {
    @apply mx-4;
}

.fi-sidebar-nav-groups {
    @apply divide-y divide-gray-200 dark:divide-gray-600 gap-y-3;
}

.fi-sidebar-nav .fi-sidebar-group {
    @apply px-2 py-2;
}

.fi-ta-ctn .py-4 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

.fi-btn {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.fi-sidebar-item-button:hover,
.fi-topbar-item-button:hover {
    @apply bg-gray-100 dark:bg-gray-800;
}

.fi-sidebar-item-button:focus-visible,
.fi-topbar-item-button:focus-visible {
    @apply bg-gray-100 dark:bg-gray-800 outline outline-4 outline-offset-0 outline-primary-500/30 dark:outline-primary-400/40;
}

.fi-avatar:not(.fi-circular) {
    @apply rounded-none;
}
